img {
	max-width:100%;
	vertical-align:middle;
	height:auto;
}
.outer {
	width:100%;
	height:100%;
}
.map {
	position:relative;
	text-align:center;
	left:0;
	top:0;
}
.city {
	opacity:.0;
}
.city:hover {
	opacity:.9;
	transition:opacity 0.1s;
}
svg {
	position:absolute;
	left:0%;
	top:0%;
	height:100%;
	width:100%;
}
.cityName {
	visibility:hidden;
}
.line {
	background-color:#14A7D2;
	width:75%;
	height:2px;
	border:0px;
}
body {
	font-family: 'Roboto Slab', serif;
}
a {
	text-decoration: none;
	color:#14A7D2;
}
